.App {
  background-image:
    linear-gradient(rgba(5, 15, 61, 0.7) 5%, rgba(2, 6, 26, 0.7)),
    url('https://images.pexels.com/photos/41162/moon-landing-apollo-11-nasa-buzz-aldrin-41162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
